@media screen and (max-width: 991px) {
    header {
        padding: 20px 50px;

        .logo {
            max-width: 80px;
        }

        .toggle {
            max-width: 40px;
        }
    }

    .banner {
        padding: 100px 50px;

        .content {
            h2 {
                font-weight: 400;
                font-size: 2em;
                letter-spacing: 0.05em;
            }
        }

        p {
            font-size: 1em;
        }
    }

    .slide {
        position: relative;
        bottom: initial;
        left: 0;
        width: 250px;
        height: 150px;
        margin: 20px 0;
    }

    .sci {
        position: absolute;
        top: initial;
        right: initial;
        margin-top: 40px;
        transform: translateY(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        li {
            list-style: none;
            margin: 0 5px;
        }
    }

    .trailer {
        .video {
            max-width: 90%;
            outline: none;
        }
    }
}

@media screen and (max-width: 450px) {
    .activeBtn {
        width: 100% !important;
    }
}